.menu-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    @include lm {
      padding: 0;
    }
    .menu {
      width: 23rem;
      height: 30rem;
      text-align: center;
      margin-top: 12rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      z-index: 1;
      @include box-shadow;
      @include laptopl {
        width: 32rem;
        height: 39rem;
        margin-top: 4.4rem;
      }
      @include laptop {
       width: 25rem;
       height: 32rem;
       margin-top: 7rem;
      }
      @include tablet {
        width: 20rem;
        height: 27rem;
        margin-top: 6.4rem;
      }
      @include lm {
        width: 22rem;
        height: 29rem;
        margin-top: 7rem;
      }
      @include sm {
        width: 19rem;
        height: 26rem;
        
      }
      .menu1, .menu2, .menu3, .menu4 {
        width: 100%;
        transform: scale(1);
        opacity: 100%;
        transition: transform 400ms; 
        z-index: 1;
      }
        &:hover .menu1, &:hover .menu2, &:hover .menu3, &:hover .menu4 {
        transform: scale(1.12);
        opacity: 85%;
        @include tablet {
          transform: scale(1.05);
        }
        @include sm {
          transform: scale(0.8);
        }
        
      }
    }
    .menu1-color {
      .menu { 
          background-color: $color-menu1;
      } 
    }
    .menu2-color {
      .menu { 
          background-color: $color-menu2;
      }
    }
    .menu3-color {
      .menu { 
          background-color: $color-menu3;
      }
    }
    .menu4-color {
      .menu { 
          background-color: $color-menu4;
      }
    }
} 

.footer{
    width: 100%;
    height: 3.5rem;
    bottom: 0;
    position: fixed;
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    &--style{
        padding-right: 1rem;
        padding-left: 1rem;
        &:hover {
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }
    }   
}

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }