.btn {
    width: 23rem;
    height: 3rem;
    background: $color-primary;
    color: $color-secondary;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    margin-bottom: 5rem;
    border-radius: 0.9rem;
    text-align: center;
    padding-top: 0.8rem;
    cursor: pointer;
    @include laptop {
        width: 20rem;
        margin-top: 10rem;
    }
    @include lm {
        width: 14.5rem;
        font-size: 22px;
        height: 3rem;
        padding-top: 1.5rem;
    }
    .btn__title {
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .dot {
        display:inline-block;
        width:12px;
        height:12px;
        border-radius:50%;
        margin-right:3px;
        background: $color-secondary;
        animation-name: dots;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        @include lm {
            width: 10px;
            height: 10px;
        }
        @include sm {
            width:9px;
            height:9px;
        }
        &:nth-child(2) {
            animation-delay: 0.4s;
        }
        &:nth-child(3) {
            animation-delay: 0.8s;
        }
    }
}

@keyframes dots {
	50% {
        opacity: 0;
        transform: scale(0.7) translateY(5px);
	}
}
