.btn {
    width: 20%;
    background: $color-primary;
    color: $color-secondary;
    padding: 0.5rem;
    margin-left: 40%;
    margin-top: 10rem;
    border-radius: 0.4rem;
    cursor: pointer;
    text-align: center;
    &__title:link{
        text-decoration: none;
        color: $color-secondary
    }
}