@font-face {font-family: "Segoe Print"; src: url("//db.onlinewebfonts.com/t/c455d94eee43dc4ceeb83c0c0fd0d4c8.eot"); src: url("//db.onlinewebfonts.com/t/c455d94eee43dc4ceeb83c0c0fd0d4c8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c455d94eee43dc4ceeb83c0c0fd0d4c8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c455d94eee43dc4ceeb83c0c0fd0d4c8.woff") format("woff"), url("//db.onlinewebfonts.com/t/c455d94eee43dc4ceeb83c0c0fd0d4c8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c455d94eee43dc4ceeb83c0c0fd0d4c8.svg#Segoe Print") format("svg"); }

h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}

.menu--link:link {  
  text-decoration: none;    
}

i {
  font-size: 4rem;
  background: -webkit-linear-gradient(left,#F15861, #F78F6A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu1__title {
  font-family: 'Devonshire', cursive;
  font-size: 2.5rem;
  color: #43191F;
  &__subtitle {
    font-family: "Segoe Print";
    font-size: 2.8rem;
    font-weight: bold;
    color: #3C1218;
  }
}

.menu2__title {
  font-family: 'Croissant One', cursive;
  font-size: 1.7rem;
  background: -webkit-linear-gradient(left,#C77412, #905BFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &__subtitle {
    font-family: 'Bigshot One', cursive;
    font-size: 3.5rem;
    color: #C77412;
  }
}

.menu3__title {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(left,#133CE0, #0887FB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &__subtitle {
    font-family:'Segoe Print', sans-serif;
    font-size: 3rem;
    color: #0887FB;
  }
}

.menu4__title {
  font-family: 'Kaushan Script', cursive;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(left,#72BF56, #BFFF7E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &__subtitle {
    font-family:'Segoe Print', sans-serif;
    font-size: 3rem;
    color: #72BF56;
  }
}

.btn{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

.footer{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    &--style:link, &--style:visited, &--style:active {
        text-decoration: none;
        color: $color-secondary;
    } 
}
  
  






