#page1 {
    .page {
        background-color: $color-menu1;
        .top-title {
            text-align: center;
            padding-top: 60px;
            padding-bottom: 30px;
        }
    }
    .bottom-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
        & i {
            font-size: 40px;
        }
        .menu1__title {
            font-size: 30px;
        }
    }
    .chapter {
        font-family:'Segoe Print', sans-serif;
        font-size: 1.5rem;
        color: #50272C;
        font-weight: 600;
        background: linear-gradient(to top, #50272C 0%, #50272C 3px, transparent 3px) no-repeat;
        background-size: 0 100%;
        transition: background-size 300ms;
        &:hover {
             background-size: 100% 100%;
        }
    }
    .dish {
        font-family:'Segoe Print', sans-serif;
        padding-left: 4.5rem;
        padding-right: 4.5rem;
        font-size: 0.9em;
        color: #50272C;
        @include lm {
            padding-left: 0.1rem;
            padding-right: 0.1rem;
            font-size: 12px;
        }
    }
    .price {
        font-size: 20px;
        font-weight: 600;
        @include lm {
            font-size: 14px;
        }
        
    }
    .chapter1 {
        @include padding-bottom;
        .chapter {
            width: 6rem;
        }
        .chapter:before {
            content:"";
            position: absolute;
            left:calc(-230px - 50px);
            top:calc(50% - 0px);
            width:230px;
            border-bottom: 4px ridge  #50272C;
            overflow: hidden;
            @include lm {
                left:calc(-110px - 50px);
                width:120px;
                
            }
        }
        .chapter:after {
            content:'';
            position:absolute;
            right:calc(-230px - 50px);
            top:calc(50% - 0px);
            width:230px;
            border-bottom: 4px ridge  #50272C;
            overflow: hidden;
            @include lm {
                right:calc(-110px - 50px);
                width: 120px;
                
            }
        }
    }
    .chapter2 {
        @include padding-bottom;
        .chapter {
            width: 11rem;
        }
        .chapter:before {
            content:"";
            position: absolute;
            left:calc(-195px - 50px);
            top:calc(50% - 0px);
            width:200px;
            border-bottom: 4px ridge  #50272C;
            @include lm {
                left:calc(-68px - 50px);
                width: 100px;
                
            }
        }
        .chapter:after {
            content:'';
            position:absolute;
            right:calc(-195px - 50px);
            top:calc(50% - 0px);
            width:200px;
            border-bottom: 4px ridge  #50272C;
            @include lm {
                right:calc(-68px - 50px);
                width: 100px;
                
            }
        }
    }
    .chapter3 {
        padding-bottom: 70px;
        .chapter {
            width: 13rem;
            
        }
        .chapter:before {
            content:"";
            position: absolute;
            left:calc(-175px - 50px);
            top:calc(50% - 0px);
            width: 200px;
            border-bottom: 4px ridge  #50272C;
            @include lm {
                left:calc(-50px - 50px);
                width: 80px;
                
            }
        }
        .chapter:after {
            content:'';
            position:absolute;
            right:calc(-175px - 50px);
            top:calc(50% - 0px);
            width:200px;
            border-bottom: 4px ridge  #50272C;
            @include lm {
                right:calc(-50px - 50px);
                width: 80px;
            }
        }
    }
}